body{

}


#logo1, #logo2, #void{
    height: 15vh;
}
#void{

}
#logo1, #logo2{
    display:none;
}

header{
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    h1{
        position: absolute;
    }
}


main{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #c8c8c8;
    margin:1vh;
    margin-top:21vh;
    padding-bottom: 1vh;
    img{
        max-height: 5vh;
        max-width: 5vw;
    }
    div{
        display:flex;
        background-color: #eaeaea;
        margin:0.5vh;
        align-items: center;
    }
}
footer{
    position:fixed;
    top:85vh;
    left:0;
    width: 100vw;
    height: 15vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        font-size: 125%
    }
}
#home{
    background-color: gray;
    border-radius: 5px;
    padding:5px;
    height:7.5vh;
    top:3vh;
    left: 90vw;
    position: fixed;
}
header, footer{
    background-color: #d9d9d9;
}



@media screen and ((min-width:641px) and (max-width:1007px)){
    #logo1{
        display:initial;
        padding-right: 50vw;
    }   
}

@media screen and (min-width:1008px){
    #logo1, #logo2{
        display:initial;
    }
}