body{
    display:flex;
    flex-direction: column;
    
}
header, footer{
    background-color: #d9d9d9;
}
nav{
    width:100vw;
    background-color:#bbbbbb;
    height:5vh;
    left:0;
    top:15vh;
    position: fixed;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    button{
        width:auto
    }
}
main{
    display: grid;
    grid-template-columns: 1fr;
    background-color: #c8c8c8;
    margin:1vh;
    margin-top:21vh;
    padding-bottom: 1vh;
}
.ruta{
    background-color: #aaaaaa;
    width:auto;
    height: 30vh;
    margin:1vh;
    margin-bottom: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    img{
    max-height: 10vh;
    width: auto;    
    }
}
#logo1, #logo2, #void{
    height: 15vh;
}
#logo1, #logo2{
    display:none
}
#credit
{
    color:gray
}

header{
    position: fixed;
    left:0;
    top:0;
    width: 100vw;
    height: 15vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
    h1{
        position: absolute;
    }
}
footer{
    position:fixed;
    top:85vh;
    left:0;
    width: 100vw;
    height: 15vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    a{
        font-size: 125%
    }
}
#kundvagn{
    background-color: gray;
    border-radius: 5px;
    padding:5px;
    height:7.5vh;
    top:3vh;
    left: 90vw;
    position: fixed;
}


@media screen and ((min-width:641px) and (max-width:1007px)){
    #logo1{
        display:initial;
        padding-right: 50vw;
    }   
    main{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1008px){
    #logo1, #logo2{
        display:initial;
    }
    main{
        grid-template-columns: 1fr 1fr 1fr;
    }
}